.product-box{
    width: 25%;
}

table {
    width : 100%;
}
table>thead>th {
    font-weight: bold;
    font-size: 1.3em;
}
table>tbody>tr>td {
    margin:2.2em 0 0.2em 0;
}


.product-desc {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    float: left;
}
.product-rate {
    color: grey;
    font-style: italic;
    font-weight: bold;
    font-size: 0.7em;
    text-align: left;
    float: left;
}
